body {
  padding: 0;
  margin: 0;
  background-color: var(--secondary);
}  

body,
html {
  height: 100%;
}

#mapid {
  height: 25rem;
}

h1 {
  text-align: center;
}

.chart {
  width: 100%;
  min-height: 20rem;
}

.loading {
  position: fixed;
  background-color:var(--dark);
  color: white;
  z-index: 1000000;
  height: 100vh;
  width: 100%;
  overflow-y: none;
  top: 0;
  left: 0;
  transition: all .2s;
}

.loading--active{
  visibility: visible;
  opacity: 100;
}

.loading--inactive{
  visibility: hidden;
  opacity: 0;
}

.loading__content {
  position: relative;
  display: block;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.loading__text{
  font-size: 1.8rem;
  font-weight: 400;
}

.loading .spinner {
  width: 10rem;
  height: 10rem;
}

.navbar-brand svg {
  margin-bottom: .25rem;
}

main {
  margin: 4rem 0;
}

.row__charts--active{
  visibility: visible;
  opacity: 100;
}

.row__charts--inactive{
  display: none;
  visibility: hidden;
  opacity: 0;
}

.col__chart--active{
  visibility: visible;
  opacity: 100;
}

.col__chart--inactive{
  display: none;
  visibility: hidden;
  opacity: 0;
}